# This is Git's per-user configuration file.
# This file is part of rixrax/dotfiles.
[user]
    name = rixrax
    email = rixrax@users.noreply.github.com

[core]
    editor = vim
    autocrlf = input
    safecrlf = false
    excludesFile = ~/.dotfiles/git/.gitignore

[push]
    default = simple

[alias]
    s = status
    a = add
    aa = add --all
    c = commit
    d = diff
    ba = branch --all
    br = branch
    brm = branch --merged
    bd = branch -d
    bdd = branch -D
    co = checkout
    fs = !git fetch && git status
    logg = log --oneline --graph
    rpo = remote prune origin
    aliases = !git config --get-regexp 'alias.*' | sed 's/[ ]/ = /'

[include]
    path = ~/.local.gitconfig
